<div class="card" style="margin-bottom: 10px;" name='session_{{include.itemCours.numeroSession}}'>
    <div class="card-header" style="font-weight: bold; color:white; background-color: #173b6c ;">
        <i class="fas fa-book"></i> Cours {{include.itemCours.numeroCours}} - Session {{include.itemCours.numeroSession}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ include.itemCours.title }}</h5>
      <p class="card-text">
        <p><b>Description</b><br> {{ include.itemCours.description }}</p>
        <p><b>Formateurs</b><br>
            {% for formateur in include.itemCours.formateurs %}
                {% assign find = "false" %}
                {% for i in site.formateurs %}
                    {% if i.shortName == formateur %}
                        <a href="{{site.baseurl}}/{{ i.url }}">{{ i.firstName }} {{ i.lastName }}</a>
                        {% assign find = "true" %} 
                        {% break %}
                    {% endif %}
                {% endfor %} 
                {% if find == "false" %}
                    {{ formateur }} 
                {% endif %}
                {% unless forloop.last %},{% endunless %}
                {% if forloop.last  %};{% endif %}
            {% endfor %} 
           </p>
        <p><b>Durée</b><br> {{ include.itemCours.temps }}</p>
        
      </p>
    </div>
    <div class="card-footer text-right">
      <a href="{{site.baseurl}}{{ include.itemCours.url }}">Aller au cours</a>
    </div>
  </div>

