<footer class="footer">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-6">
                <div class="d-flex flex-row">
                    <img src="./assets/img/logo-ifb.svg" alt="IFB" height="50px">
                    <img src="./assets/img/logo-elixir-france.png" alt="IFB" height="50px">
                </div>
            </div>
            <div class="col-sm-6">
                <span class="text-muted"><a href="https://github.com/IFB-ElixirFr/IFB-FAIR-data-training">IFB-FAIR-data-training</a> is maintained by <a
                    href="https://github.com/IFB-ElixirFr">IFB-ElixirFr</a>.</span>
                    
                    <div class="d-flex flex-row justify-content-center" style="color:#173b6c">
                        <div class="p-2"><a href="https://twitter.com/IFB_Bioinfo" target="_blank"><i class="fab fa-twitter"></i></a></div>
                        <div class="p-2"><a href="https://www.linkedin.com/company/institut-fran%C3%A7ais-de-bioinformatique/" target="_blank"><i class="fab fa-linkedin-in"></i></a></div>
                        <div class="p-2"><a href="https://www.youtube.com/channel/UC-PWpzAklKLdjxtdHnkoeCw" target="_blank"><i class="fab fa-youtube"></i></a></i></div>
                    </div>
                    
            </div>
        </div>
    </div>
</footer>