
<div class="card" style="margin:10px 0px;">
    <div class="card-header text-white" style="background-color: rgb(226, 189, 212);">
        <h2 style="all:unset; font-size: 1.15rem; font-weight: bold;"><i class="fas fa-list-ol"></i> Votre avis </h2>
    </div>
    <div class="card-body">
       Votre avis compte pour nous ! Pourriez vous nous faire un retour en répondant au questionnaire suivant :
       <a href="{{ page.fomulaireAvis }}" target="_blank">Lien vers le questionnaire</a>
    </div>
</div>

