<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="./assets/img/logo.png" height="30" class="d-inline-block align-top" alt="">
            FAIR data
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li {% if page.url == "/" %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li {% if page.url == "/Description.html" %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
                    <a class="nav-link" href="#Description">Description</a>
                </li>
                <li {% if page.url == "/Programme.html" %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
                    <a class="nav-link" href="#Programme">Programme</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        TPs
                    </a>
                    {% for item in site.data.TPs %}
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
                                {{ item.name }}
                            </a>
                        </div>
                    {% endfor %}
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Editions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="https://github.com/IFB-ElixirFr/IFB-FAIR-data-training" target="_blank">2020</a>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/IFB-ElixirFr/IFB-FAIR-data-training" target="_blank">
                    <img src="./assets/img/github-logo.png" alt="GitHub" height="30px"></a>
                </li>
            </ul>

        </div>
    </div>

</nav>


