<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{site.baseurl}}/index.html">
            <img src="{{site.baseurl}}/assets/img/logo.png" height="30" class="d-inline-block align-top" alt="">
            FAIR data
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">

                <!-- Module -->
                <li {% if page.url == "./" %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
                    <a class="nav-link" href="{{site.baseurl}}/listeModules.html" >Modules</a>
                </li>


                <!-- Cours -->
                <li {% if page.url == "./" %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
                    <a class="nav-link" href="{{site.baseurl}}/listeCours.html" >Cours</a>
                </li>

                <!-- Travaux pratiques -->
                <li {% if page.url == "./" %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
                    <a class="nav-link" href="{{site.baseurl}}/listeTPs.html" >TPs</a>
                </li>

                <!-- Ressources -->
                <li {% if page.url == "./" %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
                    <a class="nav-link" href="{{site.baseurl}}/listeRessources.html" >Ressources</a>
                </li>

                <!-- Edition -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_editions" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Editions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_editions">
                        <a class="dropdown-item" href="https://github.com/IFB-ElixirFr/IFB-FAIR-data-training" target="_blank">2020</a>
                    </div>
                </li>

                <!-- A propos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_Apropos" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        À propos
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_Apropos">
                        <a class="dropdown-item" href="{{site.baseurl}}/apropos.html" >De l'IFB</a>
                        <a class="dropdown-item" href="{{site.baseurl}}/formateurs.html" >Des formateurs</a>
                    </div>
                </li>

            </ul>
            
            <ul class="nav navbar-nav ml-auto">
                <form class="form-inline" action="{{ site.baseurl }}/search.html" method="get">

                    <div class="input-group">
                        <input type="text" class="form-control" 
                        id="search-box_nav" placeholder="Rechercher" aria-label="Rechercher" aria-describedby="basic-addon2" 
                        name="query">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                      </div>

                  </form>
                  
                <!-- Question -->
                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_questions" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-question-circle"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink_questions">
                        <a class="dropdown-item" href="{{ site.github_repo_url }}" target="_blank">
                            <div class="d-flex flex-row">
                                <div class="p-2"><span class="imgNav"><i class="fab fa-github"></i></i></span></div>
                                <div class="p-2">
                                    <p class="textNav"><b>Notre GitHub </b></p>
                                    <p class="textNav">Visiter nous ! </p>
                                </div>
                            </div>
                        </a>

                        <a class="dropdown-item" href="{{ site.github_repo_url }}/wiki" target="_blank">
                            <div class="d-flex flex-row">
                                <div class="p-2"><span class="imgNav"><i class="fas fa-book"></i></span></div>
                                <div class="p-2">
                                    <p class="textNav"><b>Pour contribuer </b></p>
                                    <p class="textNav">Une docu est disponible</p>
                                </div>
                            </div>
                        </a>

                        <a class="dropdown-item" href="{{ site.github_repo_url }}/discussions" target="_blank">
                            <div class="d-flex flex-row">
                                <div class="p-2"><span class="imgNav"><i class="fas fa-comments"></i></div>
                                <div class="p-2">
                                    <p class="textNav"><b>Envie d'échanger avec nous ? </b></p>
                                    <p class="textNav">Une discussion est ouverte</p>
                                </div>
                            </div>
                        </a>

                        <a class="dropdown-item" href="{{ site.github_repo_url }}/issues" target="_blank">
                            <div class="d-flex flex-row">
                                <div class="p-2"><span class="imgNav"><i class="fas fa-exclamation-triangle"></i></span></div>
                                <div class="p-2">
                                    <p class="textNav"><b>Un bug dans le site ? </b></p>
                                    <p class="textNav">Déclarer une <i>issue</i> </p>
                                </div>
                            </div>
                        </a>

                        
                    </div>
                </li>
            </ul>
            

        </div>
    </div>

</nav>

