<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{site.baseurl}}/index.html">
            <img src="{{site.baseurl}}/assets/img/logo.png" height="30" class="d-inline-block align-top" alt="">
            FAIR data
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">

                <!-- Sessions -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_cours" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Session
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_cours">
                        {% assign sessions = site.sessions | sort:"numeroSession" %}
                        {% for item in sessions %}
                                <a class="dropdown-item" href="{{site.baseurl}}{{  item.url }}" {% if page.url ==  item.link %} style="color: red;" {% endif %}>
                                    Session {{ item.numeroSession }}
                                </a>
                        {% endfor %}
                    </div>
                </li>

                <!-- Cours -->
                <li {% if page.url == "./" %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
                    <a class="nav-link" href="{{site.baseurl}}/cours.html" >Cours</a>
                </li>

                <!-- TPs -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_TPs" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        TPs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_TPs">
                        {% for item in site.data.TPs %}
                                <a class="dropdown-item" href="{{site.baseurl}}/{{ item.link }}" {% if page.url == item.link %} style="color: red;" {% endif %}>
                                    {{ item.name }}
                                </a>
                        {% endfor %}
                    </div>
                </li>
                
                <!-- Edition -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_editions" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Editions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_editions">
                        <a class="dropdown-item" href="https://github.com/IFB-ElixirFr/IFB-FAIR-data-training" target="_blank">2020</a>
                    </div>
                </li>

                <!-- A propos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_editions" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        À propos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_editions">
                        <a class="dropdown-item" href="{{site.baseurl}}/apropos.html" >De l'IFB</a>
                        <a class="dropdown-item" href="{{site.baseurl}}/formateurs.html" >Des formateurs</a>
                    </div>
                </li>

            </ul>
            
            <ul class="nav navbar-nav ml-auto">
                <form class="form-inline" action="{{ site.baseurl }}/search.html" method="get">

                    <div class="input-group">
                        <input type="text" class="form-control" 
                        id="search-box_nav" placeholder="Rechercher" aria-label="Rechercher" aria-describedby="basic-addon2" 
                        name="query">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                      </div>

                      <!--
                    <div class="input-container_nav">
                        
                        <input class="input-field_nav" id="search-box"  type="text" name="query">
                    </div>
                    <button type="submit" class="submitBtn_nav">
                        <i class="fas fa-search icon_nav"></i>
                    </button>
                    -->
                  </form>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/IFB-ElixirFr/IFB-FAIR-data-training" target="_blank">
                    <img src="{{site.baseurl}}/assets/img/github-logo.png" alt="GitHub" height="30px"></a>
                </li>
            </ul>
            

        </div>
    </div>

</nav>

