<div class="card" style="margin-bottom: 10px;" name='module_{{include.itemSequence.numeroModule}}'>

    {% if include.itemSequence.type == 'cours'%}
    <div class="card-header" style="font-weight: bold; color:white; background-color: #173b6c ;">
        <i class="fas fa-book"></i>  Cours - Séquence {{include.itemSequence.numeroSequence}} 
    </div>

    {% elsif include.itemSequence.type == 'tp' %}

    <div class="card-header" style="font-weight: bold; color:white; background-color: #009c2f ;">
      <i class="fas fa-pencil-ruler"></i> TP - Séquence {{include.itemSequence.numeroSequence}}
    </div>
    {% elsif include.itemSequence.type == 'cours-tp' %}
    <div class="card-header" style="font-weight: bold; color:white; background-color: #6c5817 ;">
      <i class="fas fa-book"></i>  Cours-TP - Séquence {{include.itemSequence.numeroSequence}} 
    </div>
    {% endif %}

    <div class="card-body">
      <h5 class="card-title">{{ include.itemSequence.title }}</h5>
      <p class="card-text">
        <p><b>Description</b><br> {{ include.itemSequence.description }}</p>
        <p><b>Formateurs</b><br>
            {% for formateur in include.itemSequence.formateurs %}
                {% assign find = "false" %}
                {% for i in site.formateurs %}
                    {% if i.shortName == formateur %}
                        <a href="{{site.baseurl}}/{{ i.url }}">{{ i.firstName }} {{ i.lastName }}</a>
                        {% assign find = "true" %} 
                        {% break %}
                    {% endif %}
                {% endfor %} 
                {% if find == "false" %}
                    {{ formateur }} 
                {% endif %}
                {% unless forloop.last %},{% endunless %}
                {% if forloop.last  %};{% endif %}
            {% endfor %} 
           </p>
        <p><b>Durée</b><br> {{ include.itemSequence.temps }}</p>
        {% if include.itemSequence.tools %}
        <p><b>Outils</b><br>
        {% for t in include.itemSequence.tools %}
          {{t}}
          {% unless forloop.last %},{% endunless %}
          {% if forloop.last  %};{% endif %}
        {% endfor %}
        </p>
        {% endif %}
      </p>
    </div>
    <div class="card-footer text-right">
      <a href="{{site.baseurl}}{{ include.itemSequence.url }}">Aller au cours</a>
    </div>
  </div>

