<table class="table table-striped" style="table-layout: fixed;">
    <thead>
      <tr>
        <th scope="col">Sessions</th>
        <th scope="col">Cours</th>
        <th scope="col">Date</th>
        <th scope="col">Formateurs</th>
      </tr>
    </thead>
    <tbody>
        {% assign sessions = site.sessions | sort:"numeroSession" %}
        {% for row in sessions %}
        <tr>
            <td> 
              <a href="{{site.baseurl}}{{ row.url }} ">{{ row.header_subTitle }} </a>
            </td>

            <td>
              {% assign listeCours = site.cours | where:"numeroSession", row.numeroSession | sort:"numeroCours" %}
                <ul>
                  {% for item in listeCours  %}
                  <li>
                    <a href="{{site.baseurl}}{{item.url}}">{{item.title}} </a>
                  </li>         
                  {% endfor %}
                </ul>
            </td>

            <td>{{ row.timeStart }}</td>

            <td>
              <ul>
                {% for formateur in row.formateurs %}
                {% assign find = "false" %}
                <li>
                  {% for i in site.formateurs %}
                    
                    {% if i.shortName == formateur %}
                      <a href='{{site.baseurl}}/{{ i.url }}'> {{ i.firstName }} {{ i.lastName }}</a>
                      {% assign find = "true" %}
                      {% break %}
                    {% endif %}
                  {% endfor %}
                  {% if find == "false" %}
                    {{ formateur }} ;
                  {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
  </table>