/* ===================================================
    STYLE - IFB FAIR-bioinfo training
===================================================== */

/* ---------------------------------------------------
    GENERAL STYLE
----------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    /* Margin bottom by footer height */
    margin-bottom: 75px;
  }
  
  #myBtn {
      border: none;
      outline: none;
      cursor: pointer;
      position: fixed;
      display: none;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      right: 15px;
      bottom: 15px;
      padding: 8px 0px;
      background: #173b6c;
      color: #fff;
      transition: display 0.5s ease-in-out;
      z-index: 99999;
  }
  
  #myBtn:hover {
    background-color: #8a8b8b;
  }
  
  
  p{
      text-align: justify;
  }
  
  h2,h3, h4 {
      color: #173b6c;
      padding-bottom: 10px;
      margin-bottom: 10px;
  }
  
  h2::after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background: #173b6c;
      margin-top: 3px;
      box-sizing: border-box;
  }
  
  
  .sectionCover{
      width: 100%;
      height: 400px;
      margin-top:56px; 
      margin-bottom: 30px;
      background-image: url('../img/cover.jpg');
      background-size: cover;
      color: white; 
      text-shadow: #173b6c 1px 0 10px; 
      text-align: center;
  }
  
  section {
      padding: 10px;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .footer::before {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background: #f8f9fa !important;
      margin-bottom: 20px;
      box-sizing: border-box;
  }

  img {
    max-width: 100% ;
  }

/* ---------------------------------------------------
    highlight
----------------------------------------------------- */
/* http://jwarby.github.io/jekyll-pygments-themes/languages/javascript.html# */

div.highlight {
    padding: 10px 10px 0px 10px;
}

.highlighter-rouge {
    width: 100% ;
    background-color: #F7F8F3;
}

pre {
    padding: 10px;
    margin: 0px;
}

.gutter {width: 20px !important;}

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #008800; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #000080; font-weight: bold } /* Keyword */
.highlight .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #008080 } /* Comment.Preproc */
.highlight .c1 { color: #008800; font-style: italic } /* Comment.Single */
.highlight .cs { color: #008800; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #000080; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #000080; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #000080; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000080; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000080; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #000080; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #0000FF } /* Literal.Number */
.highlight .s { color: #0000FF } /* Literal.String */
.highlight .na { color: #FF0000 } /* Name.Attribute */
.highlight .nt { color: #000080; font-weight: bold } /* Name.Tag */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #0000FF } /* Literal.Number.Float */
.highlight .mh { color: #0000FF } /* Literal.Number.Hex */
.highlight .mi { color: #0000FF } /* Literal.Number.Integer */
.highlight .mo { color: #0000FF } /* Literal.Number.Oct */
.highlight .sb { color: #0000FF } /* Literal.String.Backtick */
.highlight .sc { color: #800080 } /* Literal.String.Char */
.highlight .sd { color: #0000FF } /* Literal.String.Doc */
.highlight .s2 { color: #0000FF } /* Literal.String.Double */
.highlight .se { color: #0000FF } /* Literal.String.Escape */
.highlight .sh { color: #0000FF } /* Literal.String.Heredoc */
.highlight .si { color: #0000FF } /* Literal.String.Interpol */
.highlight .sx { color: #0000FF } /* Literal.String.Other */
.highlight .sr { color: #0000FF } /* Literal.String.Regex */
.highlight .s1 { color: #0000FF } /* Literal.String.Single */
.highlight .ss { color: #0000FF } /* Literal.String.Symbol */
.highlight .il { color: #0000FF } /* Literal.Number.Integer.Long */
