---
layout: default
---

<script>
var paragraph = document.getElementById("id_header_title");
var text = document.createTextNode("{{page.title }}");
paragraph.appendChild(text);

var paragraph = document.getElementById("id_header_subTitle");
var text = document.createTextNode("Cours {{ page.numeroCours }} - Session {{ page.numeroSession }}");
paragraph.appendChild(text);
</script>

<div class="row">
    <div class="col-sm-3">
        <nav id="toc" class="sticky-top"></nav>
    </div>
    <div class="col-sm-9" data-spy="scroll" data-target="#toc" data-offset="70" >

        <div class="card">
            <div class="card-header text-white bg-info">
                <h2 style="all:unset; font-size: 1.15rem; font-weight: bold;"><i class="fas fa-info-circle"></i> Informations générales</h2>
            </div>
            <div class="card-body">
                <p><b>Description</b> <br>  {{ page.description }}</p>
                <p><b>Formateurs</b> <br>  
                    {% for formateur in page.formateurs %}
                        {% assign find = "false" %}
                        {% for i in site.formateurs %}
                            {% if i.shortName == formateur %}
                                <a href="{{site.baseurl}}/{{ i.url }}">{{ i.firstName }} {{ i.lastName }}</a> ; 
                                {% assign find = "true" %} 
                                {% break %}
                            {% endif %}
                        {% endfor %} 
                        {% if find == "false" %}
                            {{ formateur }} ; 
                        {% endif %}
                    {% endfor %} 
                </p>
                
                <p><b>Durée</b> <br> {{ page.temps }}</p>
                <p><b>Progression dans la session</b></p>
                <div class="progress">
                    {% assign nbCours = site.cours | where:"numeroSession", page.numeroSession | size | times: 1.0 %}
                    {% assign progress = page.numeroCours | divided_by: nbCours | times: 100.0  %}
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{progress}}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <br>
        
        <p>{{ page.content | markdownify }}</p>
        <hr>
        <div class="row">
            <div class="col-sm-4 text-left">
                {% assign listCours = site.cours | where:"numeroSession", page.numeroSession  | sort: "numeroCours" %}
                {% for i in listCours %}
                    {% assign prev = page.numeroCours | minus: 1 %}
                    {% if prev == i.numeroCours %}
                        <a href="{{site.baseurl}}{{i.url}}"><i class="fas fa-arrow-alt-circle-left"></i>Vers le cours précédent </a>
                        {% break %}
                    {% endif %}
                {% endfor %} 
            </div>
            <div class="col-sm-4 text-center">
                {% for i in site.sessions %}
                    {% if i.numeroSession == page.numeroSession %}
                        {% assign urlSession = i.url %}
                        {% break %}
                    {% endif %}
                {% endfor %} 
                <a href="{{site.baseurl}}{{ urlSession }}">Retour à la page Session </a>
            </div>
            <div class="col-sm-4 text-right">
                {% assign listCours = site.cours | where:"numeroSession", page.numeroSession  | sort: "numeroCours" %}
                {% for i in listCours %}
                    {% if page.numeroCours < i.numeroCours %}
                        <a href="{{site.baseurl}}{{i.url}}">Vers le cours suivant <i class="fas fa-arrow-alt-circle-right"></i></a>
                        {% break %}
                    {% endif %}
                {% endfor %} 
            </div>
        </div>
    </div>
</div>



