---
layout: default
---

<script>
var paragraph = document.getElementById("id_header_title");
var text = document.createTextNode("{{page.title}}");
paragraph.appendChild(text);
</script>

<div class="row">
    <div class="col-sm-3">
        <nav id="toc" class="sticky-top"></nav>
    </div>
    <div class="col-sm-9" data-spy="scroll" data-target="#toc" data-offset="70" >
        <div id="divPDF">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <h2 style="all:unset; font-size: 1.15rem; font-weight: bold;"><i class="fas fa-info-circle"></i> Informations générales</h2>
                </div>
                <div class="card-body">
                    <p><b>Description</b> <br>  {{ page.description }}</p>
                </div>
            </div>
            <br>
            <h2>Programme</h2>

            {% assign listeDesSequences = site.sequences |  where:"numeroEdition", page.numeroEdition | group_by: "numeroModule" %}
            {% assign listeDesSequences = listeDesSequences | sort: "numeroSequence" %}

            {% for group in listeDesSequences %}
              <h4 name='module_{{group.name}}'>Module {{group.name}}</h4>
              <ol>
                {% for item in group.items %}
                <li><a href="{{site.baseurl}}{{ item.url }}"> 
                    {% assign type= item.type | downcase %}
                    {% if type == 'cours'%} <i class="fas fa-book"></i> {% elsif type == 'tp' %} <i class="fas fa-pencil-ruler"></i>{% else %} <i class="fas fa-ellipsis-h"></i> {% endif %}
                    {{ item.title }} 
                </a></li>
                {% endfor %}
              </ol>
            {% endfor %}

            <h2>Formateurs</h2>

            {% assign formateurs = "" | split: ',' %}
            {% assign listeSequences = site.sequences | where:"numeroEdition", page.numeroEdition  %}
            {% for item in listeSequences  %}
            {% assign formateurs = formateurs | concat: item.formateurs | uniq %}
            {% endfor %}
            {% for formateur in formateurs %}
            {% assign find = "false" %}
            {% for i in site.formateurs %}
                    {% if i.shortName == formateur %}
                        {% include profile.html formateur=i %}
                        {% assign find = "true" %} 
                        {% break %}
                    {% endif %}
                {% endfor %} 
                {% if find == "false" %}
                    {{ formateur }}
                {% endif %}
            {% endfor %} 

            <p>{{ page.content | markdownify }}</p>
        </div>
        <hr>
        <div class="text-center">
            <button onclick="downloadPDF()" class="btn btn-danger"><i class="fas fa-file-pdf"></i> Exporter la séance en PDF</button>
        </div>
        <hr>
    </div>
</div>

<script>
    // documentation : https://printjs.crabbly.com/
function downloadPDF() {
    printJS({
        printable: 'divPDF', 
        type: 'html',
        header: "{{ page.title }}",
        headerStyle: "width: 100%; height: 4em; padding : 1.33em 0em 1.33em 0em;  margin-bottom: 30px; background-color:#173b6c; color: white;  text-shadow: #173b6c 1px 0 10px;  text-align: center;",
        css: ['{{site.baseurl}}/assets/fontawesome/css/all.css', 
            'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css',
            '{{site.baseurl}}/assets/css/style.css'
        ],
        documentTitle: "Edition {{ page.numeroEdition }} - FAIR data by IFB"
    }) 
}
</script>
