<!doctype html>
<html>
    {%- include head.html -%}    
  <body>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>
    {%- include nav.html -%}  
    
    <div id="home"></div>
    <div class="sectionCover d-flex flex-column justify-content-center align-items-center">
        <p style="margin-bottom: .5rem; font-weight: 500; line-height: 1.2; font-size: 2.5rem;">{{ page.firstName }} {{ page.lastName }} </p>
        <p style="font-size: 1.6em;text-align:center;">{{ page.position }}</p>
    </div>

    <div class="container">
        <div class="row anchorRow" id="{{ page.shortName }}" >
            <div class="col-sm-4">
                {% if page.urlImage %}
                    <img src="{{ page.urlImage }}" alt="{{ page.lastName }}" class="avatar">
                {% else %}
                <img class="avatar" alt="{{ page.githubID }}" width="100" height="100" data-proofer-ignore="true" src="https://avatars1.githubusercontent.com/{{ page.githubID }}?v=3&amp;s=100" srcset="https://avatars1.githubusercontent.com/{{ page.githubID }}?v=3&amp;s=100 1x, https://avatars1.githubusercontent.com/{{ page.githubID }}?v=3&amp;s=200 2x, https://avatars1.githubusercontent.com/{{ page.githubID }}?v=3&amp;s=300 3x, https://avatars1.githubusercontent.com/{{ page.githubID }}?v=3&amp;s=400 4x" />
                {% endif %}

                <div class="d-flex flex-row justify-content-center" style="color:#173b6c">

                {% if page.githubID  %}
                <div class="p-2"><a href="https://github.com/{{ page.githubID }}" target="_blank" class="linkSocial"><i class="fab fa-github-alt"></i></a></div>
                {% endif %}

                {% if page.ORCID  %}
                <div class="p-2"><a href="https://orcid.org/{{ page.ORCID }}" target="_blank" class="linkSocial"><i class="fab fa-orcid"></i></a></div>
                {% endif %}

                {% if page.webSite  %}
                <div class="p-2"><a href="https://orcid.org/{{ page.webSite }}" target="_blank" class="linkSocial"><i class="fas fa-globe"></i></i></a></div>
                {% endif %}

                {% if page.twitterID %}
                <div class="p-2"><a href="https://twitter.com/{{ page.twitterID }}" target="_blank" class="linkSocial"><i class="fab fa-twitter"></i></a></div>
                {% endif %}

                {% if page.linkedinID %}
                <div class="p-2"><a href="https://www.linkedin.com/in/{{ page.linkedinID }}" target="_blank" class="linkSocial"><i class="fab fa-linkedin-in"></i></a></div>
                {% endif %}

                {% if page.mail %}
                <div class="p-2"><a href="mailto:{{ page.mail }}" target="_blank" class="linkSocial"><i class="fas fa-envelope"></i></a></div>
                {% endif %}
                </div>

            </div>
            <div class="col-sm-8">
                
                <h4>Mon activité</h4>
                <p>{{ page.content | markdownify }}</p>

                <h4>Ma localisation</h4>
                <p>{{ page.localisation }}</p>

                <h4>Mes cours</h4>
                <ul>
                {% assign filtered_cours = site.cours | where: 'formateurs', page.shortName %}
                {% for cours in filtered_cours %}
                    <li><a href="{{site.baseurl}}/{{ cours.url }}">{{ cours.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {%- include footer.html -%}  
    
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

  </body>
</html>


