---
layout: default
---

<script>
var paragraph = document.getElementById("id_header_title");
var text = document.createTextNode("{{page.title }}");
paragraph.appendChild(text);

var paragraph = document.getElementById("id_header_subTitle");
var text = document.createTextNode("Séance {{ page.numeroSequence }} - Module {{ page.numeroModule }}");
paragraph.appendChild(text);
</script>

<div class="row">
    <div class="col-sm-3">
        <nav id="toc" class="sticky-top"></nav>
    </div>
    <div class="col-sm-9" data-spy="scroll" data-target="#toc" data-offset="70" >
        <div id="divPDF">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <h2 style="all:unset; font-size: 1.15rem; font-weight: bold;"><i class="fas fa-info-circle"></i> Informations générales</h2>
                </div>
                <div class="card-body">
                    <p><b>Description</b> <br>  {{ page.description }}</p>
                    <p><b>Formateurs</b> <br>  
                        {% for formateur in page.formateurs %}
                            {% assign find = "false" %}
                            {% for i in site.formateurs %}
                                {% if i.shortName == formateur %}
                                    <a href="{{site.baseurl}}/{{ i.url }}">{{ i.firstName }} {{ i.lastName }}</a> ; 
                                    {% assign find = "true" %} 
                                    {% break %}
                                {% endif %}
                            {% endfor %} 
                            {% if find == "false" %}
                                {{ formateur }} ; 
                            {% endif %}
                        {% endfor %} 
                    </p>
                    
                    <p><b>Durée</b> <br> {{ page.temps }}</p>
                    <p><b>Progression dans le module {{ page.numeroModule }}</b></p>
                    <div class="progress">
                        {% assign nbSequence = site.sequences | where:"numeroModule", page.numeroModule | size | times: 1.0 %}
                        {% assign progress = page.numeroSequence | divided_by: nbSequence | times: 100.0  %}
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{progress}}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <br>
            <p>{{ page.content | markdownify }}</p>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4 text-left">
                {% assign listSequences = site.sequences | where:"numeroModule", page.numeroModule  | sort: "numeroSequence" %}
                {% for i in listSequences %}
                    {% assign prev = page.numeroSequence | minus: 1 %}
                    {% if prev == i.numeroSequence %}
                        <a href="{{site.baseurl}}{{i.url}}"><i class="fas fa-arrow-alt-circle-left"></i>Vers la séance précédente </a>
                        {% break %}
                    {% endif %}
                {% endfor %} 
            </div>
            <div class="col-sm-4 text-center">
                {% for i in site.modules %}
                    {% if i.numeroModule == page.numeroModule %}
                        {% assign urlModule = i.url %}
                        {% break %}
                    {% endif %}
                {% endfor %} 
                <a href="{{site.baseurl}}{{ urlModule }}">Retour à la page du Module </a>
            </div>
            <div class="col-sm-4 text-right">
                {% assign listSequences = site.sequences | where:"numeroModule", page.numeroModule  | sort: "numeroSequence" %}
                {% for i in listSequences %}
                    {% if page.numeroSequence < i.numeroSequence %}
                        <a href="{{site.baseurl}}{{i.url}}">Vers la séance suivante <i class="fas fa-arrow-alt-circle-right"></i></a>
                        {% break %}
                    {% endif %}
                {% endfor %} 
            </div>
        </div>
        <br>
        <div class="text-center">
            <button onclick="downloadPDF()" class="btn btn-danger"><i class="fas fa-file-pdf"></i> Exporter la séance en PDF</button>
        </div>
        <hr>
    </div>
</div>

{% assign contenu = page.content | markdownify  %}



<script>
    // documentation : https://printjs.crabbly.com/
function downloadPDF() {
    printJS({
        printable: 'divPDF', 
        type: 'html',
        header: "{{ page.title }}",
        headerStyle: "width: 100%; height: 4em; padding : 1.33em 0em 1.33em 0em;  margin-bottom: 30px; background-color:#173b6c; color: white;  text-shadow: #173b6c 1px 0 10px;  text-align: center;",
        css: ['{{site.baseurl}}/assets/fontawesome/css/all.css', 
            'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css',
            '{{site.baseurl}}/assets/css/style.css'
        ],
        documentTitle: "Séance {{page.numeroSequence}} Module {{page.numeroModule}} - FAIR data by IFB"
    }) 
}
</script>
