---
layout: default
---

<div class="row anchor">
    <div class="col-sm-3">
        <nav id="toc" class="sticky-top"></nav>
    </div>
    <div class="col-sm-9" data-spy="scroll" data-target="#toc" data-offset="70" >
        <div class="card">
            <div class="card-header bg-success text-white">
                <h2 style="all:unset; font-weight: bold;">Programme</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Durée</h4>
                        <p> {{ page.time }}</p>
                        
                    </div>
                    <div class="col-sm-6">
                        {% if page.orateurs %}
                        <h4>Orateurs</h4>
                        <ul>
                            {% for item in page.orateurs %}
                                <li> {{ item }} </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        {% if page.questions %}
                        <h4>Questions</h4>
                        <ul>
                            {% for item in page.questions %}
                                <li> {{ item }} </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        
                    </div>
                    <div class="col-sm-6">
                        
                        {% if page.objectifs %}
                        <h4>Objectifs</h4>
                        <ul>
                            {% for item in page.objectifs %}
                                <li> {{ item }} </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        {{ content }}
        <br>
        {% if page.messages %}
        <div class="card">
            <div class="card-header text-white bg-danger">
                <h2 style="all:unset; font-weight: bold;"><i class="fas fa-exclamation-circle"></i> Take home message</h2>
            </div>
            <div class="card-body">
                <ul>
                    {% for item in page.messages %}
                        <li> {{ item }} </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        
        <br>
    
        {% if page.homework %}
        <div class="card">
            <div class="card-header text-white bg-info">
                <h2 style="all:unset; font-weight: bold;"><i class="fas fa-pen"></i> Homework</h2>
            </div>
            <div class="card-body">
                <ul>
                    {% for item in page.homework %}
                        <li> {{ item }} </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</div>


<script charset="UTF-8">
    $(document).ready(function(){
        var navSelector = "#toc";
        var $myNav = $(navSelector);
        Toc.init($myNav);
        
        $("body").scrollspy({
            target: navSelector,
            offset: 70
        });

        // Add smooth scrolling on all links inside the navbar
        $("#toc a").on('click', function(event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();

            // Store hash
            var hash = decodeURI(this.hash);
            
            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
                scrollTop: $(hash).offset().top - 75
            }, 800, function(){
        
                // Add hash (#) to URL when done scrolling (default click behavior)
                //window.location.hash = hash;
            });
            }  // End if
        });
});
</script>