---
layout: default
---

<!-- Durée -->
{%   assign end = page.timeEnd  | date: '%s'  %}
{%   assign start = page.timeStart  | date: '%s'  %}
{%   assign secondsSince = end | minus: start   %}
{%   assign hour = secondsSince | divided_by: 60 | divided_by: 60     %}
{%   assign hourMinutes = hour | times: 60      %}
{%   assign minutes = secondsSince | divided_by: 60 | minus: hourMinutes     %}

<!-- Traduction Jour-->
{%   assign dayEnglish =  page.timeStart | date: "%A"     %}
{% case dayEnglish  %}
{% when "Monday" %}
    {%   assign dayFrench =  "Lundi" %}
{% when "Tuesday" %}
    {%   assign dayFrench =  "Mardi" %}
{% when "Wednesday" %}
    {%   assign dayFrench =  "Mercredi" %}
{% when "Thursday" %}
    {%   assign dayFrench =  "Jeudi" %}
{% when "Friday" %}
    {%   assign dayFrench =  "Vendredi" %}
{% when "Saturday" %}
    {%   assign dayFrench =  "Samedi" %}
{% when "Sunday" %}
    {%   assign dayFrench =  "Dimanche" %}
{% endcase %}

<!-- Traduction mois-->
{%   assign monthEnglish =  page.timeStart | date: "%B"     %}
{% case monthEnglish %}
{% when "January" %}
    {%   assign monthFrench =  "Janvier" %}
{% when "February" %}
    {%   assign monthFrench =  "Février" %}
{% when "March" %}
    {%   assign monthFrench =  "Mars" %}
{% when "April" %}
    {%   assign monthFrench =  "Avril" %}
{% when "May" %}
    {%   assign monthFrench =  "Mai" %}
{% when "June" %}
    {%   assign monthFrench =  "Juin" %}
{% when "July" %}
    {%   assign monthFrench =  "Juillet" %}
{% when "August" %}
    {%   assign monthFrench =  "Août" %}
{% when "September" %}
    {%   assign monthFrench =  "Septembre" %}
{% when "October" %}
    {%   assign monthFrench =  "Octobre" %}
{% when "November" %}
    {%   assign monthFrench =  "Novembre" %}
{% when "December" %}
    {%   assign monthFrench =  "Décembre" %}
{% endcase %}

<div class="row">
    <div class="col-sm-3">
        <nav id="toc" class="sticky-top"></nav>
    </div>
    <div class="col-sm-9" data-spy="scroll" data-target="#toc" data-offset="70" >
        <div class="card">
            <div class="card-header bg-success text-white">
                <h2 style="all:unset; font-size: 1.15rem; font-weight: bold;">Programme</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Date</h4>
                        <p><b>Quand ?</b> : {{ dayFrench }} {{ page.timeStart | date: "%-d" }} {{ monthFrench }} {{ page.timeStart | date: "%Y" }}</p>
                        <p><b>À quelle heure ?</b> : {{ page.timeStart | date: "%R" }} </p>
                        <p><b>Combien de temps ?</b> : {{ hour }} h {% if minutes != 0 %}{{ minutes }}{% endif %}</p>
                        <div title="Add to Calendar" class="addeventatc">
                            Ajouter au calendrier
                            <span class="start">{{ page.timeStart }}</span>
                            <span class="end">{{ page.timeEnd }}</span>
                            <span class="timezone">{{ page.timezone }}</span>
                            <span class="title">[Formation] FAIR data - IFB</span>
                            <span class="description"> {{ page.header_subTitle }}</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        {% if page.formateurs %}
                        <h4>Formateurs</h4>
                        <ul>
                            {% for formateur in page.formateurs %}
                                <li>
                                    {% assign find = "false" %}
                                    {% for i in site.formateurs %}
                                    
                                    {% if i.shortName == formateur %}
                                        <a href='{{site.baseurl}}/{{ i.url }}'> {{ i.firstName }} {{ i.lastName }}</a> 
                                        {% assign find = "true" %}
                                        {% break %}
                                    {% endif %}
                                    {% endfor %}
                                    {% if find == "false" %}
                                        {{ formateur }} 
                                    {% endif %}
                                </li>
                            {% endfor %}
   
                        </ul>
                        {% endif %}
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-sm-6">
                        {% if page.questions %}
                        <h4>Questions</h4>
                        <ul>
                            {% for item in page.questions %}
                                <li> {{ item }} </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        
                    </div>
                    <div class="col-sm-6">
                        
                        {% if page.objectifs %}
                        <h4>Objectifs</h4>
                        <ul>
                            {% for item in page.objectifs %}
                                <li> {{ item }} </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        
        {{ content }}

        <br>
        {% if page.messages %}
        <div class="card">
            <div class="card-header text-white bg-danger">
                <h2 style="all:unset; font-size: 1.15rem; font-weight: bold;"><i class="fas fa-exclamation-circle"></i> Take home message</h2>
            </div>
            <div class="card-body">
                <ul>
                    {% for item in page.messages %}
                        <li> {{ item }} </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        
        <br>
    
        {% if page.homework %}
        <div class="card">
            <div class="card-header text-white bg-info">
                <h2 style="all:unset; font-size: 1.15rem; font-weight: bold;"><i class="fas fa-pen"></i> Homework</h2>
            </div>
            <div class="card-body">
                <ul>
                    {% for item in page.homework %}
                        <li> {{ item }} </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</div>

