---
layout: default
---

<div class="row anchor">
    <div class="col-sm-3">
        <nav id="toc" class="sticky-top"></nav>
    </div>
    <div class="col-sm-9" data-spy="scroll" data-target="#toc" data-offset="70" id="divPDF">

        <h1>{{ page.titre_TP }}</h1>

        <div class="card">
            <div class="card-header text-white bg-info">
                <h2 style="all:unset; font-size: 1.15rem; font-weight: bold;"><i class="fas fa-info-circle"></i> Informations générales</h2>
            </div>
            <div class="card-body">
                <p><b>Description</b> <br>  {{ page.description }}</p>
                <p><b>Formateurs</b> <br>  
                    {% for formateur in page.formateurs %}
                        {% assign find = "false" %}
                        {% for i in site.formateurs %}
                            {% if i.shortName == formateur %}
                                <a href="{{site.baseurl}}/{{ i.url }}">{{ i.firstName }} {{ i.lastName }}</a> ; 
                                {% assign find = "true" %} 
                                {% break %}
                            {% endif %}
                        {% endfor %} 
                        {% if find == "false" %}
                            {{ formateur }} ; 
                        {% endif %}
                    {% endfor %} 
                </p>
                
                <p><b>Durée</b> <br> {{ page.temps }}</p>
            </div>
        </div>

        {% if page.prerequisites %}
            {%- include prerequisites.html -%}  
        {% endif %}

        {% if page.tools %}
            {%- include tools.html -%}  
        {% endif %}

        {% if page.questions %}
            {%- include questionnement.html -%}  
        {% endif %}

        {% if page.objectifs %}
            {%- include objectifs.html -%}  
        {% endif %}

        
        <br>
        {{ content }}
        <br>

        {% if page.messages %}
        <div class="card">
            <div class="card-header text-white bg-danger">
                <h2 style="all:unset; font-size: 1.15rem; font-weight: bold;"><i class="fas fa-exclamation-circle"></i> Take home message</h2>
            </div>
            <div class="card-body">
                <ul>
                    {% for item in page.messages %}
                        <li> {{ item }} </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        
        <br>
    
        {% if page.homework %}
        <div class="card">
            <div class="card-header text-white bg-info">
                <h2 style="all:unset; font-size: 1.15rem; font-weight: bold;"><i class="fas fa-pen"></i> Homework</h2>
            </div>
            <div class="card-body">
                <ul>
                    {% for item in page.homework %}
                        <li> {{ item }} </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="text-center">
            <button onclick="downloadPDF_TP()" class="btn btn-danger"><i class="fas fa-file-pdf"></i> Exporter le TP en PDF</button>
        </div>
    </div>
</div>

<script>
    // documentation : https://printjs.crabbly.com/
function downloadPDF_TP() {
    printJS({
        printable: 'divPDF', 
        type: 'html',
        header: "{{ page.titre_TP }}",
        headerStyle: "width: 100%; height: 4em; padding : 1.33em 0em 1.33em 0em;  margin-bottom: 30px; background-color:#173b6c; color: white;  text-shadow: #173b6c 1px 0 10px;  text-align: center;",
        css: ['{{site.baseurl}}/assets/fontawesome/css/all.css', 
            'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css',
            '{{site.baseurl}}/assets/css/style.css'
        ],
        documentTitle: "TP {{page.numeroTP}} Session {{page.numeroSession}} - FAIR data by IFB"
    }) 
}
</script>